@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');

body {
    background-color: #d9d9d9;

}

* {
    font-family: 'Rubik', sans-serif !important;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 26px;
}



#choose,
option {
    border: 2px solid black;
    padding: 8px 12px;
    border-radius: 5px;
    margin-top: 3px;
    font-size: 20px;
    font-weight: bold;
    background-color: #c1c5cc;
    text-align: center;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
}

tr {
    background-color: white;
}

thead {
    text-align: center;

}

thead tr {
    background-color: #032b7a;
    color: #d6c7d6;


}


tr:nth-child(even) {
    background-color: #d9d9d9;
}

th,
td {
    padding: 6px;
    text-align: center;
    word-wrap: break-word;
    font-size: 15px;
    font-weight: bold;

}

th:first-child {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

td:first-child {
    color: red;
    font-size: 20px;
    font-weight: bold;
}


.characters,
.starships {
    padding: 6px;
    text-align: center;
    word-wrap: break-word;
    display: grid;
    grid-template-columns: repeat(8, 1fr)
}



.characters img,
.starships img {
    width: 80px;
    display: inline-block;
    width: 80px;
    /* Adjust image width as needed */
    height: auto;
    margin-right: 10px;
    /* Adjust margin as needed */
    /* Adjust image width as needed */
    height: auto;
    margin: 5px;
    /* Adjust margin as needed */
}

.films {
    width: 300px;
    display: flex;

}

.films td {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.films img {
    width: 200px;
    height: 200px;
}

.loader {

    margin: auto;
    position: absolute;
    inset: 0;
    border: 26px solid #f3f3f3;
    /* Light grey */
    border-top: 26px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 420px;
    height: 420px;
    animation: spin 0.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}