*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 50px;
    text-align: center;

}

#score {
    display: flex;


}

h3 {
    text-align: center;
}

#player {
    width: 80px;
    height: 80px;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

#pc {
    width: 80px;
    height: 80px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}


.container {
    margin: 0 auto;
    inset: 0;
    width: 90vw;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    background-image: url(./table.webp);
    background-repeat: no-repeat;
    background-position: center;

}

.box,
.boxTwo {
    position: absolute;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.deck {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: .5rem;
    color: white;
    user-select: none;
}

.computer-deck {
    background-color: green;
    width: 50px;
    height: 90px;
    margin: 5px;
}

.player-deck {
    background-color: blue;
    width: 50px;
    height: 90px;
    margin-bottom: 40px;

}


.text {
    font-size: 20px;
    color: #000;
    text-align: left;
    margin-right: 180px;

}

.player-card-slot {
    margin-bottom: 30px;

}

.computer-card-slot {
    margin-bottom: 10px;


}

.card {
    height: 90px;
    width: 60px;
    border: 1px solid black;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #fff;
    position: relative;
    animation: MyDiv;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-direction: right;

}

@keyframes MyDiv {
    0% {
        left: 0%;
        opacity: 1;
    }

    50% {
        left: 100%;
        opacity: 1;
    }

    100% {
        left: 100%;
        opacity: 0;
    }

}



.card.red {
    color: red;
}

.card.black {
    color: black;
}

.card::before,
.card::after {
    position: absolute;
    font-size: 1rem;
}

.card::before {
    top: .5rem;
    left: .5rem
}

.card::after {
    bottom: .5rem;
    right: .5rem;
    transform: rotate(180deg);
}
